<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <title>책 리스트 페이지</title>
</head>


<body>
<header>
  <hr>
  header 삽입부
</header>

<main>
  <!--        책제목, 작가, 등록번호,-->
  <form>
    <label for="search-type" hidden>검색조건</label>
    <select id="search-type" name="search-type">
      <option>제목</option>
      <option>작가</option>
      <option>등록번호</option>
    </select>
    <label for="search-value" hidden>검색어 </label>
    <input id="search-value" type="search" placeholder="도서 검색" name="search-value">
    <button type="submit" >검색</button>

  </form>

  <table>
    <thead>
      <tr>
        <th>제목</th>
        <th>도서번호</th>
        <th>작가</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>젊은 베르테르의 슬픔</td>
        <td>1234546</td>
        <td>요한 볼프강 폰 괴테</td>
      </tr>
      <tr>
        <td>신</td>
        <td>1234547</td>
        <td>베르나르 베르베르</td>
      </tr>
    </tbody>

  </table>

  <nav>
    <table>
      <tr>
        <td>previous</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>next</td>
      </tr>
    </table>
  </nav>


</main>

<footer>
  <hr>
  footer 삽입부
</footer>

</body>


</html>